#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.bounce {
  transition: transform 250ms ease-out;
}

.bounce:hover{
  transform: translateY(-0.5rem);
}

#email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 3rem 0;
  padding: 0.25rem;
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

#email:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}

#email > span {
  padding-right: 1rem;
  font-size: 36px;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 0 0.25rem 0;
}

