.container{
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  z-index: -5;
}

.container > :first-child{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container > div > h1{
  font-size: min(5vw, 72px);
}

.container > div > h3 {
  font-size: min(3vw, 42px);
  color: #F5F5F5;
}

particle {
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
}

.videoContainer{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.videoContainer > video{
  height: auto;
  width: 40vw;
  max-width: 900px;
}

@media (max-width: 768px) {
  .container > div > h1 {
    font-size: 48px;
  }
  .container > div > h3  {
    font-size: 26px;
  }

  .videoContainer > video{
    height: auto;
    width: 80%;
  }

  .container{
    flex-direction: column-reverse;
  }

}