.container{
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  z-index: -5;
}

.container > :first-child{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container > :first-child > h1{
  font-size: 4rem;
}

.container > :first-child > h3 {
  font-size: 2rem;
  color: #F5F5F5;
}

particle {
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
}

.videoContainer{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.videoContainer > video{
  height: 60%;
  max-height: 600px;
  
}

