
.gridItem {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 4px rgb(109, 109, 109);
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gridItemBody {
  padding: 1rem 1.5rem 1rem 1.5rem;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gridImg {
  border-radius: 1rem 1rem 0 0rem;
  width: 100%;
  height: 14rem;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
  margin-bottom: 1rem;
}

.overlayContainer {
  position: relative;
  width: 100%;
}


.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlayContainer:hover .gridImg {
  opacity: 0.3;
}

.overlayContainer:hover .overlay {
  opacity: 1;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 3rem;
}

.buttons a {
  color: inherit;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}

.buttons span {
  margin-right: 0.25rem;
  font-size: 22px;
}

.buttons a:hover {
  border-bottom: 2px solid black;
}